.htaccess
/wp-admin
/wp-includes
/wp-content/plugins
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/themes/twentyfourteen
/wp-content/themes/twentythirteen
/wp-content/themes/twentytwelve
/wp-content/themes/**/node_modules
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
/web.config
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
/.idea
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
